.tab:hover {
  filter: brightness(110%);
  cursor: pointer;
}
.tab:active {
  filter: brightness(100%);
  cursor: pointer;
}
.highlight {
  background-color: var(--primary-color);
  padding-bottom: 20px;
  font-weight: bold;
  border: 2px solid black;
}
