.yes {
  background-color: white;
  border: 1px solid white;
  transition: 250ms;
}
.yes:hover {
  cursor: pointer;
}
.no {
  background-color: white;
  border: 1px solid white;
  transition: 250ms;
  transition-property: background-color;
}
.no:hover {
  cursor: pointer;
}
.down-color {
  background-color: white !important;
}
