.yes{
  background-color: #a3c9f5 ;
  border: 1px solid white;
  transition: 250ms
}
.yes:hover{
  background-color: #5ea1ed ;
  cursor: pointer;


}
.no{
  background-color: #1979e6 ;
  border: 1px solid white;
  transition: 250ms;
  transition-property: background-color;

}
.no:hover{
  cursor: pointer;
  background-color: #5ea1ed
}
