.yes {
  background-color: #64e1e8;
  border: 1px solid white;
  transition: 250ms;
}
.yes:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}
.no {
  background-color: var(--color-primary);
  border: 1px solid white;
  transition: 250ms;
  transition-property: background-color;
}
.no:hover {
  cursor: pointer;
  background-color: #64e1e8;
}
.down-color {
  background-color: white !important;
}
