.read-more{
  position: absolute;
    top: 0;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    background-color: #1FC3CD;
    opacity: 0;
    transition: 500ms;
    transition-property: opacity;
}
.read-more:hover{
  opacity: 0.95;
  cursor: pointer
}
