body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container{
  display: flex;
}

.rest{
  min-height: 200vh;
  background-image: url('./images/background.png');
  background-position: top;
  background-size: contain;
  background-repeat: repeat-y;
  background-attachment: fixed;
  padding-bottom: 20vh;

}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.no-decoration{
    text-decoration: none;
  color: inherit;
}

.hide-div{
  display: none !important;
}



.body-content{
  display: block;
  width: 100%;
  height: auto;
  background-color:rgba(255, 255, 255, 0.85);
  padding: 5px;
  border-radius: 20px;
  font-size: 1.5vw;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;


}
