body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-primary: #58959b;
}

.app-container {
  display: flex;
}
.overlay {
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--color-primary);
  pointer-events: none;
}
.text {
  color: white;
  font-size: xx-large;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.about-container:hover .overlay {
  opacity: 0.9;
}
.home-text-container:hover {
  opacity: 0;
  transition: 0.5s ease;
}
.color-primary {
  background-color: #58959b !important;
}
.color-secondary {
  background-color: #f7f7f7 !important;
}
.rest {
  /* background-image: url('./images/landscape.png'); */
  background: linear-gradient(
      to bottom right,
      rgba(244, 244, 242, 0),
      rgba(244, 244, 242, 0)
    ),
    url("./images/school_background.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.archer-block {
  background-color: blue;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}

.hide-div {
  display: none !important;
}

.body-content {
  display: block;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 5px;
  border-radius: 20px;
  font-size: 1.5vw;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
