.bottom-button:hover {
  background-color: #3dc015 !important;
}
.resource-row-container {
  max-height: 32vh;
  min-height: 32vh;
}

@media (max-width: 700px) {
  .resource-row-container {
    max-height: none;
  }
}
