.slogan-holder{
  height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slogan-title{
  font-family: 'Audiowide', cursive;
font-size: 1.5vw;
}
.slogan-p{
  font-size: 1vw
}
