
.pdf-container{
  max-width: 800px;
  min-width: 800px;
  min-height: 100vh;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica';
  color: #555;
  background-color: white;
  margin: 10vh auto
}
.header-row{
}
.unit-holder{
  margin-left: 24px;
  display: inline-block;
}
.lesson-title{
  text-align: left;
  font-size: 32px;
  font-weight: bold;
  margin-top: 8px
}
.image{
  width:100%; max-width:156px;
  display: inline-block;
}
.date{
  margin-left: auto;
  display: inline-block;
}

.unit-title{
    font-size: 24px
}
