.blinker-holder {
  display: flex;
  align-items: center;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.blinker-icon {
  background-color: white;
  border-radius: 50%;
  width: 12px !important;
  height: 12px !important;
  margin-right: 4px;
  animation: blink 1s infinite;
}
.exit-icon {
  margin: 4px 0 0 4px;
}
.email-holder {
  display: flex;
  flex-wrap: wrap;
}
.middle-div {
  border-right: 1px solid rgb(26, 24, 24);
  border-left: 1px solid rgb(26, 24, 24);
  padding: 0px 8px;
  min-height: 150px;
}
.available-color {
  color: white;
  font-size: 20px;
}
a {
  width: fit-content;
}
.link-hover {
  width: fit-content;
  background-color: #1fc3cd;
  padding: 4px;
}
.link-hover:hover {
  filter: brightness(90%);
}
@media (max-width: 700px) {
  .middle-div {
    border-right: 0px;
    border-left: 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 8px 0px;
    min-height: 50px !important;
  }
}
