.blinker-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.blinker-icon {
  color: white;
  width: 20px !important;
  height: 20px !important;
}
.middle-div {
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 0px 8px;
}
.available-color {
  color: white;
  font-size: 2rem;
}
a {
  width: fit-content;
}
.link-hover {
  width: fit-content;
  background-color: #1fc3cd;
  padding: 4px;
}
.link-hover:hover {
  filter: brightness(90%);
}
@media (max-width: 700px) {
  .middle-div {
    border-right: 0px;
    border-left: 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 8px 0px;
  }
}
